{% extends 'base.html' %}

{% block 'body' %}
    <div class="container mt-4">
        <div class="row align-items-center mb-3">
          <div class="col">
            <h2>Detalhes do Produto</h2>
          </div>
          <div class="col text-end">
            <a href="{% url 'atualizar_produto' produto.id %}" class="btn btn-warning">Editar Produto</a>
            <a href="{% url 'excluir_produto' produto.id %}" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir este produto?')">Excluir Produto</a>
            <a href="{% url 'lista_produtos' %}" class="btn btn-primary">Voltar para Lista de Produtos</a>
          </div>
        </div>
        
        <div>
          <h4 class="mt-4">{{ produto.nome }}</h4>
          <p><strong>Descrição:</strong> {{ produto.descricao }}</p>
          <p><strong>Categoria:</strong> {{ produto.categoria.nome }}</p>
          <p><strong>Preço:</strong> R$ {{ produto.preco }}</p>
          <p><strong>Estoque:</strong> {% if produto.estoque %}{{ produto.estoque.quantidade }}{% else %}N/A{% endif %}</p>
        </div>
    </div>
{% endblock 'body' %}